# Basic Functionality of Series - Ndim

# ndim - returns the number of dimensions of the data structure. it presents no of columns in dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.Series(np.arange(1,51))

In [3]:
df

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

In [4]:
print(df.ndim) # as in above df only one columns so its given output 1.

1

# Basic Functionality of Series - Axes

Axes - it returns a list of the axes of the row lables

In [5]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1,51))
print(df.axes)

[RangeIndex(start=0, stop=50, step=1)]

# Basic Functionality of Series - Values
 Values - it returns the actual data in series of the array

In [6]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1,51))
print(df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

# Basic Functionality of Series - head
Head - it returns the first n rows of the datastructure

In [7]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1,51))
print(df.head(6))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int32

# Basic Functionality of Series - Tail
Tail - it returns the last n rows of the datastructure

In [8]:
import pandas as pd
import numpy as np

df = pd.Series(np.arange(1,51))
print(df.tail(6))

44    45
45    46
46    47
47    48
48    49
49    50
dtype: int32

# Basic Functionality of Series - Sum
Sum() - it returns the sum of the values for the requestewd axis

In [9]:
import pandas as pd
import numpy as np

d = {'odd' : np.arange(1,100,2),
    'even' : np.arange(0,100,2)}

print(d['odd'])
print(d['even'])

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]
[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94
 96 98]

In [11]:
# converted dictionaries into dataframe

df = pd.DataFrame(d)
df

    odd  even
0     1     0
1     3     2
2     5     4
3     7     6
4     9     8
5    11    10
6    13    12
7    15    14
8    17    16
9    19    18
10   21    20
11   23    22
12   25    24
13   27    26
14   29    28
15   31    30
16   33    32
17   35    34
18   37    36
19   39    38
20   41    40
21   43    42
22   45    44
23   47    46
24   49    48
25   51    50
26   53    52
27   55    54
28   57    56
29   59    58
30   61    60
31   63    62
32   65    64
33   67    66
34   69    68
35   71    70
36   73    72
37   75    74
38   77    76
39   79    78
40   81    80
41   83    82
42   85    84
43   87    86
44   89    88
45   91    90
46   93    92
47   95    94
48   97    96
49   99    98

In [12]:
print(df.sum())

odd     2500
even    2450
dtype: int64

# Basic Functionality of Series - Std()
Std() - it returns the standard deviation  of the values for the requestewd axis

In [13]:
import pandas as pd
import numpy as np

d = {'odd' : np.arange(1,100,2),
    'even' : np.arange(0,100,2)}

print(d['odd'])
print(d['even'])

df = pd.DataFrame(d)
print(df.std())

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]
[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94
 96 98]
odd     29.154759
even    29.154759
dtype: float64

# Iterating a Dataframe - iteritems()

iteritems() = iterate over each columns as key, value pair

In [15]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5, 4),
                 columns = ['col1', 'col2', 'col3', 'col4'])
for key ,value in df.iteritems():
    print(key,value)

col1 0    0.037447
1    0.504559
2    0.383054
3    0.357937
4    0.730253
Name: col1, dtype: float64
col2 0    0.072471
1    0.223818
2    0.761885
3    0.204638
4    0.090064
Name: col2, dtype: float64
col3 0    0.438368
1    0.869710
2    0.177069
3    0.825451
4    0.844049
Name: col3, dtype: float64
col4 0    0.277278
1    0.438841
2    0.201843
3    0.235477
4    0.561017
Name: col4, dtype: float64

# Iterating a Dataframe - iterrows()
iterrows() = iterate over each rows as key, value pair

In [19]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5, 4),
                 columns = ['col1', 'col2', 'col3', 'col4'])
for key ,value in df.iterrows():
    print(key,value)
    print(type(df))

0 col1    0.541509
col2    0.948118
col3    0.703975
col4    0.683349
Name: 0, dtype: float64
<class 'pandas.core.frame.DataFrame'>
1 col1    0.513542
col2    0.133559
col3    0.643121
col4    0.314084
Name: 1, dtype: float64
<class 'pandas.core.frame.DataFrame'>
2 col1    0.768847
col2    0.266391
col3    0.205611
col4    0.325253
Name: 2, dtype: float64
<class 'pandas.core.frame.DataFrame'>
3 col1    0.821973
col2    0.472908
col3    0.855979
col4    0.125647
Name: 3, dtype: float64
<class 'pandas.core.frame.DataFrame'>
4 col1    0.500854
col2    0.304135
col3    0.992646
col4    0.078478
Name: 4, dtype: float64
<class 'pandas.core.frame.DataFrame'>

# Iterating a Dataframe - itertuples()
itertuples() = returns an iterator yielding a named tuple for each row

In [20]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.rand(5, 4),
                 columns = ['col1', 'col2', 'col3', 'col4'])
for row in df.itertuples():
    print(row)
    print(type(df))

Pandas(Index=0, col1=0.15041432811394706, col2=0.1964888050011453, col3=0.6586716768725351, col4=0.0031103741683555786)
<class 'pandas.core.frame.DataFrame'>
Pandas(Index=1, col1=0.9713584720375471, col2=0.2079151413526864, col3=0.24890247746627525, col4=0.6212135598491723)
<class 'pandas.core.frame.DataFrame'>
Pandas(Index=2, col1=0.15688055382266186, col2=0.24115646130734747, col3=0.04755424592314883, col4=0.8071400613075483)
<class 'pandas.core.frame.DataFrame'>
Pandas(Index=3, col1=0.28523502105182197, col2=0.25270105762756134, col3=0.9141158579285142, col4=0.7902060447630905)
<class 'pandas.core.frame.DataFrame'>
Pandas(Index=4, col1=0.16060793892505532, col2=0.6261887664399389, col3=0.8918604067262094, col4=0.7432683604830594)
<class 'pandas.core.frame.DataFrame'>

# Groupby Operation

an object in pandas can be split into multiples one

In [21]:
import pandas as pd

In [22]:
world_cup ={'team':['west indies', 'west indies', 'india', 'australia', 'pakistan','sri lanka', 'australia', 'australia', 'australia',
                   'india', 'australia'],
           'rank' : [7,7,2,1,6,4,1,1,1,2,1],
           'year' : [1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015]}
df = pd.DataFrame(world_cup)
print(df)

           team  rank  year
0   west indies     7  1975
1   west indies     7  1979
2         india     2  1983
3     australia     1  1987
4      pakistan     6  1992
5     sri lanka     4  1996
6     australia     1  1999
7     australia     1  2003
8     australia     1  2007
9         india     2  2011
10    australia     1  2015

In [23]:
# now grouping dataframe according "team' column

print(df.groupby('team').groups)

{'australia': Int64Index([3, 6, 7, 8, 10], dtype='int64'), 'india': Int64Index([2, 9], dtype='int64'), 'pakistan': Int64Index([4], dtype='int64'), 'sri lanka': Int64Index([5], dtype='int64'), 'west indies': Int64Index([0, 1], dtype='int64')}

In [27]:
# now grouping with two columns
print(df.groupby(['team', 'rank']).groups)

{('australia', 1): Int64Index([3, 6, 7, 8, 10], dtype='int64'), ('india', 2): Int64Index([2, 9], dtype='int64'), ('pakistan', 6): Int64Index([4], dtype='int64'), ('sri lanka', 4): Int64Index([5], dtype='int64'), ('west indies', 7): Int64Index([0, 1], dtype='int64')}

In [39]:
# Groups can be iterated through just like itertools


df = pd.DataFrame(world_cup)
grouped = df.groupby('team')
for name, group in grouped:
    print(name)

australia
india
pakistan
sri lanka
west indies

In [40]:
# a single group can be selected using get_group()

In [41]:
df = pd.DataFrame(world_cup)
grouped = df.groupby('team')
print(grouped.get_group('india'))

    team  rank  year
2  india     2  1983
9  india     2  2011

In [43]:
df = pd.DataFrame(world_cup)
grouped = df.groupby('team')
print(grouped.get_group('australia'))

         team  rank  year
3   australia     1  1987
6   australia     1  1999
7   australia     1  2003
8   australia     1  2007
10  australia     1  2015

#  AGGREGATIONS

An Aggregated function returnas a single aggregated value for each group

In [44]:
import pandas as pd
import numpy as np

d = {'odd' : np.arange(1,100,2), 'even' : np.arange(0,100,2)}
print(d['odd'])
print(d['even'])
df = pd.DataFrame(d)
print(df.groupby('odd').groups)

[ 1  3  5  7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47
 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95
 97 99]
[ 0  2  4  6  8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46
 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94
 96 98]
{1: Int64Index([0], dtype='int64'), 3: Int64Index([1], dtype='int64'), 5: Int64Index([2], dtype='int64'), 7: Int64Index([3], dtype='int64'), 9: Int64Index([4], dtype='int64'), 11: Int64Index([5], dtype='int64'), 13: Int64Index([6], dtype='int64'), 15: Int64Index([7], dtype='int64'), 17: Int64Index([8], dtype='int64'), 19: Int64Index([9], dtype='int64'), 21: Int64Index([10], dtype='int64'), 23: Int64Index([11], dtype='int64'), 25: Int64Index([12], dtype='int64'), 27: Int64Index([13], dtype='int64'), 29: Int64Index([14], dtype='int64'), 31: Int64Index([15], dtype='int64'), 33: Int64Index([16], dtype='int64'), 35: Int64Index([17], dtype='int64'), 37: Int64Index([18], dtype='int64'), 39: Int64Index([19], dtype='int64'), 41: Int64Index([20], dtype='int64'), 43: Int64Index([21], dtype='int64'), 45: Int64Index([22], dtype='int64'), 47: Int64Index([23], dtype='int64'), 49: Int64Index([24], dtype='int64'), 51: Int64Index([25], dtype='int64'), 53: Int64Index([26], dtype='int64'), 55: Int64Index([27], dtype='int64'), 57: Int64Index([28], dtype='int64'), 59: Int64Index([29], dtype='int64'), 61: Int64Index([30], dtype='int64'), 63: Int64Index([31], dtype='int64'), 65: Int64Index([32], dtype='int64'), 67: Int64Index([33], dtype='int64'), 69: Int64Index([34], dtype='int64'), 71: Int64Index([35], dtype='int64'), 73: Int64Index([36], dtype='int64'), 75: Int64Index([37], dtype='int64'), 77: Int64Index([38], dtype='int64'), 79: Int64Index([39], dtype='int64'), 81: Int64Index([40], dtype='int64'), 83: Int64Index([41], dtype='int64'), 85: Int64Index([42], dtype='int64'), 87: Int64Index([43], dtype='int64'), 89: Int64Index([44], dtype='int64'), 91: Int64Index([45], dtype='int64'), 93: Int64Index([46], dtype='int64'), 95: Int64Index([47], dtype='int64'), 97: Int64Index([48], dtype='int64'), 99: Int64Index([49], dtype='int64')}

# CONCATENATION

concatenation is the process of combining two or more data structures

In [45]:
import pandas as pd

In [46]:
world_champions = {'Team' : ['India', 'Austalia','West Indies', 'Pakistan', 'Sri Lanka'],
                  'Icc_rank' : [2,3,7,8,4],
                  'World_Champions_year' : [2011,2015, 1979,1992,1996],
                   'Points' : [874,787,753,673,855]}

In [47]:
Chokers = {'Team' : ['South Africa', 'New Zealand', 'Zimbabwe'],
          'Icc_rank': [1,5,9],
          'Points': [895,764,656]}

In [49]:
df1 = pd.DataFrame(world_champions)
df2 = pd.DataFrame(Chokers)
print(pd.concat([df1 ,df2]))

   Icc_rank  Points          Team  World_Champions_year
0         2     874         India                2011.0
1         3     787      Austalia                2015.0
2         7     753   West Indies                1979.0
3         8     673      Pakistan                1992.0
4         4     855     Sri Lanka                1996.0
0         1     895  South Africa                   NaN
1         5     764   New Zealand                   NaN
2         9     656      Zimbabwe                   NaN

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

In [50]:
print(df1.append(df2))

   Icc_rank  Points          Team  World_Champions_year
0         2     874         India                2011.0
1         3     787      Austalia                2015.0
2         7     753   West Indies                1979.0
3         8     673      Pakistan                1992.0
4         4     855     Sri Lanka                1996.0
0         1     895  South Africa                   NaN
1         5     764   New Zealand                   NaN
2         9     656      Zimbabwe                   NaN

C:\Users\Public\Anaconda3\lib\site-packages\pandas\core\frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [51]:
print(pd.concat([df1,df2],axis =1))

          Team  Icc_rank  World_Champions_year  Points          Team  \
0        India         2                  2011     874  South Africa
1     Austalia         3                  2015     787   New Zealand
2  West Indies         7                  1979     753      Zimbabwe
3     Pakistan         8                  1992     673           NaN
4    Sri Lanka         4                  1996     855           NaN

   Icc_rank  Points
0       1.0   895.0
1       5.0   764.0
2       9.0   656.0
3       NaN     NaN
4       NaN     NaN

In [52]:
print(pd.concat([df1,df2],axis =0))

   Icc_rank  Points          Team  World_Champions_year
0         2     874         India                2011.0
1         3     787      Austalia                2015.0
2         7     753   West Indies                1979.0
3         8     673      Pakistan                1992.0
4         4     855     Sri Lanka                1996.0
0         1     895  South Africa                   NaN
1         5     764   New Zealand                   NaN
2         9     656      Zimbabwe                   NaN

C:\Users\Public\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

# MERGING & JOINING

Merging is the pandas operation that performs Database joins on objects

In [54]:
import pandas as pd

champion = {'Team' : ['India', 'Australia', 'West Indies', 'Pakistan', 'Sri lanka'],
           'Icc Rank' : [2,3,7,8,4],
           'World Champions Year' : [2011,2015,1979,1992,1996],
           'Points' : [874,787,753,673,855]}

In [55]:
match_stats = {'Team' : ['India', 'Australia', 'West Indies', 'Pakistan', 'Sri lanka'],
              'World cup played' : [11, 10,11,9,8],
              'ODIs' : [733,988,712,679,662]}

In [56]:
df1 = pd.DataFrame(champion)
df2 = pd.DataFrame(match_stats)

In [62]:
print(pd.merge(df1,df2 , on ='Team'))

          Team  Icc Rank  World Champions Year  Points  World cup played  ODIs
0        India         2                  2011     874                11   733
1    Australia         3                  2015     787                10   988
2  West Indies         7                  1979     753                11   712
3     Pakistan         8                  1992     673                 9   679
4    Sri lanka         4                  1996     855                 8   662